@media (max-width:1200px) {
    .widget-right .footer-btns input:first-child {
        max-width: 45%;
    }
}

@media (max-width:991px) {
    .menu-toggler{
        display: block;
    }
    .header-left .navbar{
        position: absolute;
        top: -14px;
        left: -425px;
        display: block;
        background: #FFF;
        width: 400px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: .7s;
        height: 625px;
        padding: 20px;
    }

    .header-left .navbar li a{
        color: #E84F88;
    }

    .header-left .navbar li{
        display: block;
    }

    .navbar .sidebar-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-right a{
        padding-left: 5px;
        padding-right: 5px;
    }

    .header-right a i{
        padding-left: 8px;
    }


    .header-left .show-menu li a {
        color: #fff;
        font-size: 18px;
    }

    .hero-section{
        height: 80vh;
    }

    .single-side .heading span{
        font-size: 80px !important;
        line-height: 70px !important;
        margin-left: 30px;
    }

    .feature-section{
        height: auto;
    }

    .feature-items{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .feature-items li{
        width: 100%;
        text-align: center;
    }

    .feature-items li:nth-child(2),
    .feature-items li:nth-child(3){
        width: 100%;
        text-align: center;
    }
    .feature-items li:nth-child(4){
        text-align: center;
    }

    .promot-section .promot .promot-img img{
        display: block;
        margin: 0 auto;
        padding: 20px 0;
    }
    .promot-section .promot .promot-content{
        padding: 10px;
        margin-top: 30px;
    }

    .widget-right .footer-btns input:first-child{
        max-width: 60%;
    }

    .single-product-item {
        height: 250px;
        width: 31%;
    }

    .single-product-item:nth-child(2){
        height: 520px;
        width: 64%;
    }
    .single-product-item:nth-child(4){
        width: 64%;
    }
    .single-product-item:nth-child(9){
        width: 64%;
    }

    .header-right .search-input {
        left: -310px;
    }

}

@media (max-width:768px) {
    .single-side .heading span{
        font-size: 60px !important;
        line-height: 50px !important;
        margin-left: 30px;
    }

    .widget-right,
    .widget-left{
        text-align: center;
    }

    .widget-left .footer-menu{
        justify-content: center;
    }

    .widget-right .footer-social{
        justify-content: center;
    }

    .widget-right .footer-btns{
        justify-content: center;
    }

    .single-side .heading{
        text-align: center;
    }

    .single-side .heading span{
        line-height: 40px !important;
    }

    .single-side img{
        display: none;
    }

    .header-right .search-input {
        left: -260px;
    }

    .header-right .search-input {
        width: 350px;
    }

}

@media (max-width:600px) {
    .hero-section{
        height: 60vh;
    }
    .single-side .heading span{
        font-size: 50px !important;
        line-height: 40px !important;
    }

    .single-product-item {
       
        width: 100%;
    }
    .single-product-item .product-hover .product-bottom-info .product-price {
        right: 14px;
    }

    .single-product-item:nth-child(2){
        height: 520px;
        width: 100%;
    }
    .single-product-item:nth-child(4){
        width: 100%;
    }
    .single-product-item:nth-child(9){
        width: 100%;
    }

    .header-right .search-input {
        left: -260px;
    }

    .header-right .search-input {
        width: 350px;
    }
}

@media (max-width:480px){
    .single-side .heading span{
        font-size: 40px !important;
        line-height: 30px !important;
    }

    .widget-right .footer-btns{
        flex-direction: column;
    }
    .widget-right .footer-btns input:last-child{
        margin-top: 7px;
    }

    .header-right.show-search .search-input {
        top: 60px;
    }

    .header-right .search-input {
        position: absolute;
        left: -241px;
        width: 327px;
    }
}

@media (max-width:420px){
    .header-right .search-input {
        left: -180px;
        width: 293px;
    }
}

@media (max-width:370px) {
    .header-left .navbar{
        width: 370px;
    }

    .single-side .heading span{
        font-size: 30px !important;
        line-height: 30px !important;
    }
}