@media (max-width:991px) {
    .menu-toggler{
        display: block;
    }
    .header-left .navbar{
        position: absolute;
        top: -14px;
        left: -425px;
        display: block;
        background: #333;
        width: 400px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: .7s;
        height: 625px;
        padding: 20px;
    }

    .header-left .navbar li a{
        color: #ECD9D3;
    }

    .header-left .navbar li{
        display: block;
    }

    .navbar .sidebar-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-right a{
        padding-left: 5px;
        padding-right: 5px;
    }

    .header-right a i{
        padding-left: 8px;
    }


    .header-left .show-menu li a {
        color: #fff;
        font-size: 18px;
    }

    .hero-section{
        height: 80vh;
    }

    .single-side .heading span{
        font-size: 80px !important;
        line-height: 70px !important;
        margin-left: 30px;
    }
}

@media (max-width:768px) {
    .single-side .heading span{
        font-size: 60px !important;
        line-height: 50px !important;
        margin-left: 30px;
    }
}

@media (max-width:600px) {
    .hero-section{
        height: 60vh;
    }
    .single-side .heading span{
        font-size: 50px !important;
        line-height: 40px !important;
    }
}

@media (max-width:480px){
    .single-side .heading span{
        font-size: 40px !important;
        line-height: 30px !important;
    }
}

@media (max-width:370px) {
    .header-left .navbar{
        width: 370px;
    }

    .single-side .heading span{
        font-size: 30px !important;
        line-height: 30px !important;
    }
}